.alt-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    margin-top: 25px;
}

.alt-header__column {
    width: 33%;
}

/* .alt-header__column:nth-child(2) {  
    padding-left: 50px;
}*/

.fa-chevron-left:hover {
    filter: drop-shadow(0 -2mm 7mm rgb(233, 95, 9));
    transform: translateY(-2px);

}


.alt-header-title {
    font-size: 30px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child {
    margin-left: 20px
}

.main-chat {
    margin-top: 50px;

}