.find-icons {
    display: flex;
    justify-content: space-between;

}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.find-icons-img {
    width: 110px;
    height: 110px;
    object-fit: cover;


}

.find-icons-img:hover {

    filter: drop-shadow(0 -2mm 7mm rgb(236, 61, 187));
}

.find-icons__icon span {
    font-size: 17px;
    margin-top: 10px;
}

.recommended-friends {
    padding: 20px 0px;
    margin: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 19px;
}

.recommended-friends span {
    margin: 110px 0px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}


.open-chat__header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 25px;

}

.open-chat__header span {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
}


.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtag {
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 10px;
}

.open-post__members {
    display: flex;
    align-items: center;

}

.open-post__members img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}


.open-post__members .divider {
    opacity: 0.7;
    margin: 0px 5px;
}

.open-post__member-count {
    opacity: 0.7;
}

.open-post__member-status {
    color: #f40fe8;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 13px;
    left: 60px;
    font-size: 15px;



}

.open-post__heart-count span {
    margin-left: 5px;
}

.open-post {
    border-bottom: var(--main-border);
    padding-bottom: 15px;
    padding-top: 28px;


}

.open-post:last-child {
    border-bottom: none;
}

.open-post:hover {
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
    filter: drop-shadow(0 -2mm 7mm rgb(225, 222, 53));
    border-radius: 20px;
}