#friends-display-link {
    text-align: center;
    display: block;
    background-image: linear-gradient(to right top, #e06c48, #ea7068, #ee7986, #eb84a2, #e592b9);
    padding: 15px 0px;
    opacity: 0.9;
    font-size: 18px;
    margin-bottom: 10px;

}


.friends-screen__channel {
    border-top: var(--main-border);
    padding-top: 5px;
}

.friends-screen__channel--header {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 25px;
    align-items: center;
}

.fa-chevron-right {
    padding-left: 8px;
    opacity: 0.7;
}


a {
    text-decoration: none;
    color: whitesmoke;
}


.user-components__column-hover:hover {
    filter: drop-shadow(0 -2mm 5mm rgb(231, 172, 225));
}

.user-components:hover,
.user-components__spotify:hover {
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
    filter: drop-shadow(0 -2mm 7mm rgb(225, 222, 53));
    border-radius: 20px;

}

/* .user-comp onents__spotify:hover{  
    filter: drop-shadow(0 -2mm 7mm rgb(225, 222, 53));
}*/

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-image: linear-gradient(to right top, #c11777, #c9357d, #d14b84, #d85d8b, #df6f93, #e078a0, #e080ac, #df89b7, #d38ec9, #c394d8, #ae9ce5, #94a3ee);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 1s;
}

#splash-screen img {
    width: 250px;
    height: 250px;
}