.user-components,
.user-components__column {
    display: flex;
    justify-content: space-between;
}

.user-components__column:first-child,
.user-components {
    display: flex;
    align-items: center;

}

.user-components__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: var(--horizontal-space);

}

.user-components__title {
    font-weight: 600;
    font-size: 22px;
}

.user-components__subtitle {
    margin-top: 10px;
    color: rgba(234, 234, 234, 0.8);
}

.user-components__spotify {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 40px;
    border: 1.5px solid yellow;
    padding: 10px;
    margin: 20px;
}

.user-components__spotify i {
    color: yellowgreen;
    font-size: 10px;
    margin-left: 8px;

}

.user-components__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.user-components__title--not-bold {
    font-weight: 400;
}

.user-components__column,
.user-components__column--noti {
    margin-right: 20px;

    align-items: center;
}

.user-components__column--noti-span {
    background-color: #58c481;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}