.user-components,
.user-components__column {
    display: flex;
    justify-content: space-between;

}

.user-components {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px;

    width: 100%;
    align-items: center;

}

.user-components__column span {
    margin-right: 10px;

}

.user-components__column:first-child,
.user-components {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.user-components__column:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: rgba(115, 62, 62, 0.7);
}

.user-components__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: var(--horizontal-space);

}

.user-components__title {
    font-weight: 600;
    font-size: 22px;

}

.user-components__subtitle {
    margin-top: 10px;
    color: rgba(234, 234, 234, 0.8);
}

.user-components__spotify {
    display: flex;
    height: 16px;
    align-items: center;
    justify-content: flex-end;
    border-radius: 40px;
    border: 1px solid yellow;
    padding: 15px 7px;
    margin-right: 7px;
}

.user-components__spotify i {
    color: yellowgreen;
}

.user-components__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-components__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.user-components__title--not-bold {
    font-weight: 400;
}


.user-components__time {
    margin-bottom: 10px;
    display: block;

}